<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Mission Control</h2>
  <button (click)="announce()">Announce mission</button>
  <my-astronaut *ngFor="let astronaut of astronauts"
                [astronaut]="astronaut">
  </my-astronaut>
  <h3>History</h3>
  <ul>
    <li *ngFor="let event of history">{{event}}</li>
  </ul>  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
</ion-content>
